.navbar {
  padding: 10px 20px;
  background-color: black;
  color: goldenrod;
  font-weight: 700;
  border-radius: 30px;
  width: 100%;

  a {
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      color: white;
    }
  }
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.chart {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.logo {
  justify-items: left;
  padding-right: 25%;
}

.nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: goldenrod;
  font-weight: 700;
  border-radius: 30px;
  width: 100%;
  padding-left: 50%;
  gap: 50px;
}

.box {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
  gap: 20px;

  > div {
    flex: 1;
    background-color: lightgreen;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
  }
}